#layout.active {
    display: grid;
    grid-template-rows: 2em 1fr;
    grid-row-gap: 0.4em;
    padding-top: 0.2em;
}


#dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em;
    height: 85vh;
    width: 100vw;
}
