.cell {
    height: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s;
}

.init {
    background-color: gray;
}

.connecting {
    background-color: #fff898;
}

.open {
    background-color: lightgreen;
}

.closed {
    background-color: cornflowerblue;
}