.cell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s;
    flex: 1;
}

.init {
    background-color: gray;
}

.connecting {
    background-color: #fff898;
}

.open {
    background-color: lightgreen;
}

.closed {
    background-color: cornflowerblue;
}